## Intro to jupyter notebook
###### How to run markdown or code cell?

**ctrl +Enter** ---> Will run the cell and cursor will be in same cell<br>
*Alt + Enter* -->  Will run the cell and create an empty cell below<br>
***Shift + Enter*** --> Run the cell and cursor will be in the next cell.<br> 
                if next cell is not there it will create a cell

new  markdown cell
>This is a sepearte paragraph

Cell type conversion
- from markdown to code 'Esc y'
- from code to markdown 'Esc m'

**other topics**
1. ordered list
2. insert an image
3. insert hyperlink

#### Python
![](logo.jpg)

[markdown cheat sheet](https://www.markdownguide.org/cheat-sheet/)

#### Python Basic Mathematical Operators

In [3]:
print('Python Basic Mathematical Operators')
print(34 + 2)
print(44 - 7)

Python Basic Mathematical Operators
36
37

In [4]:
print(77/2)
print(77//2)
print(77 % 3)

38.5
38
2

In [5]:
a = 77
b = 4
print(a,b)

77 4

In [6]:
print(a+b)
print(a/b)
print(a//b)
print(a%b)

81
19.25
19
1

In [7]:
s ="hello"
s * b

'hellohellohellohello'

In [8]:
s1 = "world"
print(s+s1)
print(s +" " +s1)

helloworld
hello world

In [9]:
print(a,b,s,s1)

77 4 hello world

In [10]:
print(type(a),type(b),type(s),type(s1))

<class 'int'> <class 'int'> <class 'str'> <class 'str'>

In [11]:
a = "python"
print(a,type(a))

python <class 'str'>

In [12]:
print(b,type(b))
b = True
print(b,type(b))

4 <class 'int'>
True <class 'bool'>

In [13]:
i = "27"
print(i,type(i))

27 <class 'str'>

In [14]:
str(34),int("78"),float('56.5')

('34', 78, 56.5)

In [15]:
i= int(i)
print(i,type(i))

27 <class 'int'>

In [16]:
int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

In [17]:
float("568.78")

568.78

In [18]:
b1 = True
b2 = True
print(b1+b2)
print(b1-b2)
print(b1/b2)
print(b1%b2)

2
0
1.0
0

In [19]:
True + 57

58

In [20]:
print("hello")
print("everyone")
print("thirderror")

hello
everyone
thirderror

In [21]:
5 ** 3

125

In [22]:
5 ^ 3 # 101^011=110 bitwise xor operation

6

In [23]:
s3 = 'single'
s4 = "double"
s5 = '''triple single quote'''
s6 = """triple double quote"""
print(s3,s4,s5,s6,sep =',')
print(type(s3),type(s4),type(s5),type(s6))

single,double,triple single quote,triple double quote
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [24]:
s7 = 'I don\'t want to learn python'
s8 = "I don't want to learn python"
print(s7)
print(s8)

I don't want to learn python
I don't want to learn python

In [25]:
s9 = '"python" is a popular language'
s10 ="\"python\" is a popular language"
print(s9)
print(s10)

"python" is a popular language
"python" is a popular language

In [26]:
s11 ='''python is popular
so we are learning python'''
print(s11)
s11

python is popular
so we are learning python

'python is popular\nso we are learning python'

In [34]:
ivalue = input("Enter a number")
print(ivalue,type(ivalue))
ivalue = int(ivalue)
print(ivalue,type(ivalue))

Enter a number78
78 <class 'str'>
78 <class 'int'>

In [35]:
ivalue = int(input("Enter a number"))
print(ivalue,type(ivalue))

Enter a number78
78 <class 'int'>

In [31]:
svalue = input("Enter a string")
print(svalue,type(svalue))

Enter a stringpython
python <class 'str'>

In [36]:
fvalue = float(input("Enter a Floating point number"))
print(fvalue,type(fvalue))

Enter a Floating point number78.89
78.89 <class 'float'>

Read the first name,last name of person and print them in reverse order<br>
Example <br>
First Name : Suman<br>
Last Name : Roy<br>
O/p : Roy Suman<br>

In [38]:
firstName = input("Enter First Name: ")
lastName = input('Enter last Name: ')
print(lastName,firstName)
print(lastName+' '+firstName)

Enter First Name: Suman
Enter last Name: Roy
Roy Suman
Roy Suman

Read a name and a number n. Repeat the name n times.<br>
Example<br>
name : Python<br>
n : 3<br>
o/p :Python Python Python<br>

In [40]:
name = input("Enter a name")
n = int(input("enter number"))
print((name+' ')*n)

Enter a namePython
enter number3
Python Python Python