### DataStructures in Python
- Lists
- Tuples
- Sets
- Dictionaries

### Lists
- Lists are mutable( or Changeable)
- *Syntax: list_var = [ ]*

In [3]:
# different ways to create lists
l1 = [] # empty list
l2 = list() # empty list
type(l1)

l3 = [1,10,100,1000]# homegenous list
l4 = ['abc',100,'A',4.5]# heterogenous list

In [4]:
l3[2]

100

In [6]:
# nested list
l5 = [10,20,[1,2,3],[4,5,6]]
print(l5[1])
print(l5[2][2])

20
3

In [7]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [17]:
list1 = [1,2,3,4]
list2 = [11,22,33,44]
list1.append([5,6,7])
print(list1)
list2.extend([6,7,8])
list2
list1[4].append(9)

[1, 2, 3, 4, [5, 6, 7]]

[1, 2, 3, 4, [5, 6, 7, 9]]

### append(item)
  It add the given item into end of the list

### clear()
 It removes all the items in the list

In [22]:
a = [1,2,3]
a.clear()
a

[]

#### pop([index])
- If we not give index try to remove last item from list
- if given index available remove that item
- if index not in list gives indexError

In [28]:
a1 = [1,2,3,4]
#a1.pop(10)
print(a1)

IndexError: pop index out of range

#### remove() 
- Removes a particular value

In [25]:
a1.remove(2)
a1

[1]

#### Insert()
- *Syntax: list.insert(index,value)

In [29]:
l1 = [1,2,3,4]
l1.insert(2,5)
print(l1)

[1, 2, 5, 3, 4]

In [32]:
l2 = [1,2,3,4]
l2.insert(10,5)
print(l2)

[1, 2, 3, 4, 5]

In [34]:
li = [11,22,33,44]
for i in li:
    print(i)
    
for i in range(len(li)):
    print(i)

11
22
33
44
0
1
2
3

In [37]:
# program to add one list into another new list using append method
# i/p : list1 = [1,2,3,4], newList = []
# o/p : newList = [1,2,3,4]
list1 =[1,2,3,4,[11,22]]
newList = []
for i in list1:
    newList.append(i)
print(newList)

[1, 2, 3, 4, [11, 22]]

In [40]:
a = 'abcd'
if type(a) == int:
    print(True)
else:
    print(False)

False

In [44]:
list1 = ['abc',100,'xyz',46,56, True, False]
# Input :
# intList = []
# strList = []
# output :
# intList = [100,46,56]
# strList = ['abc','xyz']

In [47]:
intList = []
strList = []
for i in list1:
    if type(i) == int:
        intList.append(i)
    else:
        strList.append(i)
print(intList)
print(strList)

[100, 46, 56]
['abc', 'xyz', True, False]

### sort the students maks given below lower to high value

In [49]:
studentMarks = [10,30,20,50]
studentMarks.sort()
studentMarks.reverse()
print(studentMarks)

[50, 30, 20, 10]

### sort the students marks based subject english
studentMarks = [[maths,english],[maths,english]]

In [51]:
studentMarks = [[50,40],[10,30],[30,50]]
for student in studentMarks:
    student.reverse()
#[[40,50],[30,10],[50,30]]
studentMarks.sort()
#[[30,10],[40,50],[50,30]]
for student in studentMarks:
    student.reverse()
#output [[10,30],[50,40],[30,50]]
print(studentMarks)

[[10, 30], [50, 40], [30, 50]]

In [52]:
studentMarks = [[50,40],[10,30],[30,50]]
studentMarks.sort(key=lambda x:x[1])
print(studentMarks)

[[10, 30], [50, 40], [30, 50]]

### Tuples
- Tuples are immutable( not changeble)

In [55]:
#diff ways to craete tuples
t1 = () # Empty tuple
t1 = ('100',)# makesure to put coma
type(t1)

tuple

In [56]:
l1 = [11,12,13]
t1 = (10,20,30)
l1[0]=111
t1[0]=100 # immutable

TypeError: 'tuple' object does not support item assignment

In [57]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [59]:
t2 = (10,10,100,10,1000)
print(t2.count(10))
print(t2.count(100))

3
1

In [63]:
t2.index(10)

0

### Dictionaries
- represented as "{,}"
- Pair of keys and values seperated with ":"
- "keys" are act as an index of "values"
- "keys" in dictionary must be unique

In [69]:
l1 = [11,22,33]
l1[0]

11

In [70]:
dict1 = {'keys':'values','key2':'value2','key3':'value3'}
dict1['key2']

'value2'

In [72]:
dict2 = {}# empty dictionary
# Nested Dictionary
dict2 = {'Ram':['cse','b.tech'],'Aditya':['civil','m.tech']}
d = dict2['Ram']
type(d)

list

In [75]:
dict3 = {'Ram':{'cell':9876543210,'pincode':56567},
         'aditya':{'cell':8765432109,'pincode':56432}}
# output : 56567
dict3['Ram']['pincode']

56567

In [76]:
dict4 = {1:100,2:200,3:'three','four':4}
type(dict4)

dict

In [78]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [85]:
d1 = {1:100,2:20,3:345,4:444}
d1.keys()
d1.values()
d1.items()
d1[5] = 'abc'
d1

{1: 100, 2: 20, 3: 345, 4: 444, 5: 'abc'}

In [83]:
for k in d1.keys():
    print(k)

for v in d1.values():
    print(v)

1
2
3
4
100
20
345
444

### update()

In [86]:
finalDict = {'name':'sai','home':'house'}
newWords = {'adhar':'Indian identity','name':'ram'}
finalDict.update(newWords)
print(finalDict)

{'name': 'ram', 'home': 'house', 'adhar': 'Indian identity'}

#### create new dict for frequency of a to z characters from the given name

In [90]:
name = 'python'
freq = {}
# output =
# {'a':0,'b':0,...., 'p':1,'y':1,'t':1,'o':1,'n':1,....,'z':0}

## or try this output also

## freq2 =  {'p':1,'y':1,'t':1,'h':1,'o':1,'n':1}

In [94]:
myList = []
for i in range(97,97+26):
    myList.append(chr(i))
freq = {}.fromkeys(myList,0)
for char in name:
    freq[char] = freq.get(char,0) + 1
print(freq)

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0, 'g': 0, 'h': 1, 'i': 0, 'j': 0, 'k': 0, 'l': 0, 'm': 0, 'n': 1, 'o': 1, 'p': 1, 'q': 0, 'r': 0, 's': 0, 't': 1, 'u': 0, 'v': 0, 'w': 0, 'x': 0, 'y': 1, 'z': 0}

#### Sets in python
- s = set()
- s = {1,2}

In [95]:
s = set()
s,type(s)

(set(), set)

In [96]:
s = {1,3,2,2}
s

{1, 2, 3}

In [97]:
s1 = {1,2,3}
s2 = {1,5,7}

### union()
 returns all the items from both sets given

In [99]:
s1.union(s2)

{1, 2, 3, 5, 7}

#### intersection()

In [100]:
s1

{1, 2, 3}

In [101]:
s2

{1, 5, 7}

In [102]:
s1.intersection(s2)

{1}

In [103]:
s1

{1, 2, 3}

### add(item)

In [104]:
s1.add(10)
s1

{1, 2, 3, 10}

#### remove(item)

In [105]:
s1

{1, 2, 3, 10}

In [106]:
s1.remove(10)

In [107]:
s1

{1, 2, 3}

### update()
 update the set

In [108]:
s1 = {1,2,3}
s2 = {2,10,30}
s1.update(s2)
s1

{1, 2, 3, 10, 30}

### difference()

In [109]:
s1 = {1,2,3,4}
s2 = {1,10}
s1.difference(s2)

{2, 3, 4}

#### regular expressions in python
 to check data has follow particular pattern/rule or not
 to extract data

In [110]:
import re

### re.search(pattern_string,data_string)

In [111]:
name = 'python'
pattern = 'y'
re.search(pattern,name)

In [113]:
name = 'python'
pattern = 'z'
print(re.search(pattern,name))

None

In [114]:
name = 'python'
pattern = 'yy'
print(re.search(pattern,name))

None

In [117]:
name = 'pythoyn'
pattern = 'yy'
print(re.search(pattern,name))

None

**re.match(pattern,data)**
- It will match from the start

In [118]:
name = 'python'
pattern = 'p'
print(re.match(pattern,name))

<re.Match object; span=(0, 1), match='p'>

In [120]:
name = 'python'
pattern = 'y'
print(re.match(pattern,name))

None

In [121]:
name = 'python'
pattern = 'py'
print(re.match(pattern,name))

<re.Match object; span=(0, 2), match='py'>

**re.findall(pattern_str,data_str)**

In [127]:
re.findall('a','sairami')

['a', 'a']

**special characters in RE**
- .  any single character
- ^  startswith
- $  Endswith
- [] Any charecter within the square brackets
- [^] Neither the charecters in the square brackets
- \d  Any single digit 
- \D  Other than digit
- {m,n} minimum m charecters and maximum n charecters  
- *  zero or more 
- +  one or more

In [128]:
re.search('.','python')

In [129]:
re.search('...','python')

In [130]:
re.search('h.n','python')

In [132]:
print(re.search('^y','python'))

None

In [133]:
print(re.search('^.','python'))

<re.Match object; span=(0, 1), match='p'>

In [135]:
print(re.search('on$','python'))

<re.Match object; span=(4, 6), match='on'>

In [136]:
print(re.search('.$','python'))

<re.Match object; span=(5, 6), match='n'>

In [137]:
print(re.search('[ab]','a'))

<re.Match object; span=(0, 1), match='a'>

In [138]:
print(re.search('[ab]','b'))

<re.Match object; span=(0, 1), match='b'>

In [139]:
print(re.search('[ab]','c'))

None

In [141]:
print(re.search('[ab]','ab'))

<re.Match object; span=(0, 1), match='a'>

In [142]:
print(re.search('[ab]','cba'))

<re.Match object; span=(1, 2), match='b'>

In [143]:
print(re.search('[^ab]','ac'))

<re.Match object; span=(1, 2), match='c'>

In [144]:
print(re.search('\d','abc123'))

<re.Match object; span=(3, 4), match='1'>

In [145]:
print(re.search('\D','123abc'))

<re.Match object; span=(3, 4), match='a'>

In [150]:
print(re.search('^...$','12a'))

<re.Match object; span=(0, 3), match='12a'>

In [153]:
print(re.search('a{3}','aaaa'))

<re.Match object; span=(0, 3), match='aaa'>

In [154]:
print(re.search('a{2,5}','aa'))

<re.Match object; span=(0, 2), match='aa'>

In [155]:
print(re.search('a{2,5}','aaa'))

<re.Match object; span=(0, 3), match='aaa'>

In [156]:
print(re.search('a{2,5}','aaaaaa'))

<re.Match object; span=(0, 5), match='aaaaa'>

In [157]:
print(re.search('a*','python'))

<re.Match object; span=(0, 0), match=''>

In [158]:
print(re.search('a*','aaapython'))

<re.Match object; span=(0, 3), match='aaa'>

In [ ]:
print(re.search('a*','python'))